.form {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

/* .form button:first-of-type {
    width: 100%;
} */

@media screen and (max-width: 540px) {
    .form {
        flex-direction: column;
        border-bottom: 1px solid gray;
    }
}